body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  h2  {
    
    font-weight: bold;
  }

  p{
    font-weight: bold;
  }
  
.welcome-back{
    margin-top: 8%;
    
    color: #093621e1;
    font-size: 30px;
    font-weight: bold;
}
  
.welcome-message{
    color: #777;
    font-size: 20px;
    font-weight: lighter;
   
}

.glamorous-quote{
    color: #093621e1;
    font-size: 50px;
    margin-bottom: 5%;

}


  
  #homePic {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    border-radius: 8px;
  }
  
  
 
  #bestSellingSection {
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: #093621e1;
    margin-top: 50px;
  }
  
  .bestSelling {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #bestSellingSection .bestSelling + div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  
  /* Card or Item Styles (if needed for HomepageList items)
 
  
  .homepageItem:hover {
    transform: translateY(-5px);
  }
  
  .homepageItem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .homepageItem h4 {
    color: #333;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .homepageItem p {
    color: #777;
    font-size: 1rem;
    margin-top: 5px;
  }
   */