:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(107, 106, 106);
  text-decoration: inherit;
}
a:hover {
  color: #c3bfbf;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  padding-top: 80px !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reserved {
  font-size: 2.2em;
  line-height: 1.5;
  margin-top: 1px; 
  color:#093621e1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}

#navContainer{
  margin-bottom: 1%;
}

#mainNavMenu{
  margin-right: 0px !important;
}

#homePic {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}

#logo{
  width:100px;
  margin-right: 20%;
}


#wishlist{
  width:30px;
}

.bestSelling{
  margin-top: 4%;
}


#logInNav{  
  color: #000;
  margin-right: 30px;
}

.contact{
  border-color: black !important;
}

#contactUsPic{
  align-content: flex-start;
}

.contactUsTitle{
  margin-bottom: 7%;
}

#submitButton{
  border-radius: 10px;
}


footer{
  margin-top: 20px;
}



.contact{
  border-color: black;
  margin-bottom: 30px;
  margin-top: 20px;
}



#logInTitle, #signUpTitle{
  margin-top: 100px;
  margin-bottom: 50px;
}


.logIn, .signUp{
  border-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}


#logInButton, #signUpButton{
  background-color: white;
  border-color: black;
  color:#000;
  border-radius: 10px;
}


#wishItem{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  margin-top:1px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 900px;
}

.search-input {
  
  width: 100%;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 10px; 
  outline: none;
  background-color:white;
  color:#000000;
}

@media (max-width: 768px) {
  .searchbar {
   
    width: 450px;
  }
  
  .search-input {
    font-size: 14px; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {
  .searchbar {
    width: 95%;
    padding: 5px; 
    width: 225px;
  }

  .search-input {
    font-size: 14px; 
    padding: 6px; 
  }
}

select {
  width: 150px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;;
}