:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(107, 106, 106);
  text-decoration: inherit;
}
a:hover {
  color: #c3bfbf;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}

#navContainer{
  margin-bottom: 1%;
}

#mainNavMenu{
  margin-right: 0px !important;
}

#homePic {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}

#logo{
  width:100px;
  margin-right: 20%;
}


#wishlist{
  width:30px;
}

.bestSelling{
  margin-top: 4%;
}


#logInNav{  
  color: #000;
  margin-right: 30px;
}


#contactUsPic{
  align-content: flex-start;
}

.contactUsTitle{
  margin-top: 100px;
  margin-bottom: 7%;
}


footer{
  margin-top: 20px;
}



.contact{
  border-color: black;
  margin-bottom: 30px;
  margin-top: 20px;
}



#logInTitle{
  margin-top: 100px;
  margin-bottom: 50px;
}


.logIn{
  border-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}


#logInButton{
  background-color: white;
  border-color: black;
  color:#000;
}


#wishItem{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  margin-top:10px;
  display: flex;
  justify-content: center;
  color: #ccc;

}

.seach-input {
  border-radius: 55px;
  border: 2px solid #ccc;
  background-color: #ccc;
  color: #000000;
}